body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(112, 188, 235);
}

.line {
    background-color: navy;
    color: white;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    position: absolute;
    top: 10px;
    width: calc(100% - 9vw);
}

.heading {
    background-color: white;
    border: 5px solid rgb(185, 185, 185);
    border-radius: 10px 10px 8px 8px;
    margin: 10px 4vw;
    width: 91vw;
}

.title{
    font-family: calibri;
    font-size: 30px;
    margin: 16px 20px 28px 20px;
}

.form div {
    background-color: white;
    border: 5px solid rgb(185, 185, 185);
    border-radius: 8px;
    margin: 8px 4vw;
    padding: 20px 0 20px 20px;
    width: 87%;
}

.question label {
     font-family: calibri;
     font-size: 18px;
}

.question input {
    padding: 20px 0 0 0;
    font-size: 15px;
    border: none;
    background: none;
    outline: none;
}

.material-symbols-outlined{
    font-size: 7px;
    color: red;
    position: absolute;
}

input[type="submit"] {
    background: navy;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    outline: none;
    margin: 1px 4vw;
    padding: 8px 15px;
    font-weight: 800;
}

input[type="submit"]:hover {
    background-color: navy;
    transition: .5s;
}
.required {
    color: red;
    font-size: 15px;
    font-family: calibri;
    line-height: 2px;
    margin-left: 25px;
    margin-top: -17px;
    margin-bottom: 20px;
}

#required {
    position: absolute;
    margin-top: -13px;
    margin-left: 18px;
}